.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 5vh;
    background-color:aquamarine;
}

.div-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.411);
    padding: 5vh;
}

.div-lista-itens, .div-lista-input{
    display: flex;
    flex-direction: row;
}

.div-lista-itens{
    gap: 3vh;
}

.div-lista-input{
    gap: 2vh;
}