div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    height: 100vh;
    margin: 0;
}

img {
    width: 15vh;
}

img:hover {
    filter: opacity(60%);
    transition: 800ms;
}