@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Roboto&family=Roboto+Condensed&display=swap');

body{
    background-color: antiquewhite;
}

header{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

.div-titulo > h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 2em;
}


.div-saudacao{
    flex-direction: column;
}

.div-saudacao p {
    font-family: 'Inter', sans-serif;
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2em;
}

input{
    padding: 1em;
    border: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: black;
    transition: padding 300ms;
}

input:hover {
    padding: 1.5em;
    transition: 300ms;
}

button{
    padding: 2em;
    border: none;
    background-color: rgba(255, 255, 255, 0.486);
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    transition: background-color 300ms, padding 300ms;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.788);
    padding: 2.5em;
    transition: 300ms;
}


.div-form-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.11);
    padding: 2em;
    width: 80vh;
}

.div-titulo-cadastro{
    align-items: center;
    justify-content: center;
}

.div-titulo-cadastro > h2{
    font-family: 'Roboto', sans-serif;
    color: black;
}

.div-botao{
    align-items: center;
    justify-content: center;
}

.div-opcoes{
    display: flex;
    gap: 2em;
}

.div-deposito, .div-saque{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.11);
    padding: 2em;
}

.div-input-deposito, .div-input-saque{
    display: flex;
    gap: 1em;
}

.div-botao-funcao{
    display: flex;
    gap: 1em;
}