body {
    background-color: antiquewhite;
}

h1 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: bold;
    font-size: 6vh;
    color: gray;
}

p {
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    color: cadetblue;
}