/* importando as fontes utilizadas */

@import url('https://fonts.cdnfonts.com/css/rex-bold');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/* declarando variáveis em css com base nas cores da logo do filme */

:root {
    --verde: #8BBF46;
    --azul: #7EC6BE;
    --amarelo: #FDC810;
    --laranja: #F29137;
    --rosa: #EF849C;
}

/* estilizando o body */

body {
    background-color: #e4a7b4;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* colocando transição para o body ao abrir a página */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* estilizando o cabeçalho */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

/* estilizando o hr da página toda */

hr {
    border: 1px solid white;
}

/* estilizando as imagens do cabeçalho e do cartaz */

header>img,
.div-cartaz>img {
    width: 250px;
    transition: width 300ms;
}

/* estilizando o botão do menu */

.dropbtn {
    background-color: var(--azul);
    color: black;
    padding: 16px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    cursor: pointer;
    transition: background-color 300ms;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgb(88, 145, 184);
    transition: 300ms;
}

.dropdown {
    position: relative;
    display: inline-block;
}


/* estilizando os botões do conteúdo do menu */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    display: block;
    background-color: var(--amarelo);
}

.dropdown-content a:hover {
    background-color: #fcd959;
    transition: 300ms;
}

.show {
    display: block;
}

/* estilizando o main */

main {
    margin-left: 5vh;
    margin-right: 5vh;
}

/* estilizando os h1 e os h2 da página */

h1,
h2 {
    font-family: 'Rex Bold', sans-serif;
    color: white;
}

/* estilizando os p da página */

p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* estilzando os spans da página */

span {
    font-weight: bold;
}

/* estilizando o div da primeira parte da página */

.div-linha-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5vh;
    background-color: #7ec6bdb2;
}

/* estilizando o div do sobre */

.div-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

/* estilizando a div do título do sobre */

.div-titulo-sobre {
    text-align: center;
}

/* estilizando o conteúdo do sobre */

.div-conteudo-sobre {
    display: flex;
    flex-direction: row;
    gap: 6vh;
}

/* estilizando a div da segunda parte da página */

.div-linha-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5vh;
    background-color: #7ec6bdb2;
}

/* estilizando a imagem do sinopse */

.div-sinopse>img {
    width: 80px;
    transition: width 300ms;
}

/* estilizando a div do elenco */

.div-elenco {
    margin-top: 2vh;
}

/* estilizando os títulos do elenco e da equipe */

.div-titulo-elenco,
.div-titulo-equipe {
    justify-content: center;
    margin-bottom: 5vh;
}

/* estilizando a div do conteúdo do elenco */

.div-conteudo-elenco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

/* estilizando as linhas (conjunto de imagens) do elenco */

.linha-1-elenco,
.linha-2-elenco {
    display: flex;
    flex-direction: row;
    gap: 10vh;
}

/* determinando uma margem para baixo da primeira linha do elenco */

.linha-1-elenco {
    margin-bottom: 2vh;
}

/* estilizando os h2 e h3 da primeira e da segunda linha do elenco */

.linha-1-elenco>div>h2,
.linha-2-elenco>div>h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
}

.linha-1-elenco>div>h3,
.linha-2-elenco>div>h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 100;
}

/* estilizando as imagens do elenco e da equipe */

.linha-1-elenco>div>img,
.linha-2-elenco>div>img,
.div-equipe-direcao>img {
    width: 120px;
    transition: width 300ms;
}

header>img:hover,
.div-cartaz>img:hover,
.linha-1-elenco>div>img:hover,
.linha-2-elenco>div>img:hover,
.div-equipe-direcao>img:hover {
    width: 280px;
}

/* estilizando a terceira e a quarta parte da página */

.div-linha-3,
.div-linha-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5vh;
    background-color: #7ec6bdb2;
    text-align: center;
}


/* estilizando o div da equipe */

.div-equipe {
    display: flex;
    flex-direction: column;
}

/* estilizando o conteúdo da div da equipe */

.div-conteudo-equipe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8vh;
}

/* estilizando o p da div da direção da equipe */

.div-equipe-direcao>p {
    font-weight: bold;
}


/* estilizando o carrossel de imagens */

.swiper {
    height: 500px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    .swiper {
        height: 270px;
    }
}

.project-img>img {
    box-shadow: 0 1px 2px #0003;
    width: 50%;
}