@import url('https://fonts.cdnfonts.com/css/rex-bold');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --verde: #8BBF46;
    --azul: #7EC6BE;
    --amarelo: #FDC810;
    --laranja: #F29137;
    --rosa: #EF849C;
}


.botao-menu {
    float: right;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    background: var(--laranja);
}

body {
    background-color: #e4a7b4;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

hr {
    border: 1px solid white;
}

header>img,
.div-cartaz>img {
    width: 250px;
    transition: width 300ms;
}

.dropbtn {
    background-color: var(--azul);
    color: black;
    padding: 16px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    cursor: pointer;
    transition: background-color 300ms;
}

.dropbtn:hover, .dropbtn:focus{
    background-color: rgb(88, 145, 184);
    transition: 300ms;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    display: block;
    background-color: var(--amarelo);
}

.dropdown-content a:hover {
    background-color: #fcd959;
    transition: 300ms;
}

.show {
    display: block;
}

main {
    margin-left: 5vh;
    margin-right: 5vh;
}

h1,
h2 {
    font-family: 'Rex Bold', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

span {
    font-weight: bold;
}

.div-linha-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5vh;
    background-color: #7ec6bdb2;
}


.div-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.div-titulo-sobre {
    text-align: center;
}

.div-conteudo-sobre {
    display: flex;
    flex-direction: row;
    gap: 6vh;
}

.div-linha-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5vh;
    background-color: #7ec6bdb2;
}


.div-sinopse>img {
    width: 80px;
    transition: width 300ms;
}

.div-linha-2 {
    text-align: center;
}

.div-elenco {
    margin-top: 2vh;
}

.div-titulo-elenco,
.div-titulo-equipe {
    justify-content: center;
    margin-bottom: 5vh;
}

.div-conteudo-elenco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.linha-1-elenco,
.linha-2-elenco {
    display: flex;
    flex-direction: row;
    gap: 10vh;
}


.linha-1-elenco {
    margin-bottom: 2vh;
}

.linha-1-elenco>div>h2,
.linha-2-elenco>div>h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
}

.linha-1-elenco>div>h3,
.linha-2-elenco>div>h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 100;
}

.linha-1-elenco>div>img,
.linha-2-elenco>div>img,
.div-equipe-direcao>img {
    width: 120px;
    transition: width 300ms;
}

header>img:hover,
.div-cartaz>img:hover,
.linha-1-elenco>div>img:hover,
.linha-2-elenco>div>img:hover,
.div-equipe-direcao>img:hover {
    width: 280px;
}

.div-linha-3,
.div-linha-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5vh;
    background-color: #7ec6bdb2;
    text-align: center;
}


.div-equipe {
    display: flex;
    flex-direction: column;
}


.div-conteudo-equipe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8vh;
}

.div-equipe-direcao>p {
    font-weight: bold;
}


.swiper {
    height: 500px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    .swiper {
        height: 270px;
    }
}

.project-img>img {
    box-shadow: 0 1px 2px #0003;
    width: 50%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}